@{
    ViewBag.Title = "Contact";
}
<style>
    .main-div {
        background-image: linear-gradient(to right top, #092648, #424e72, #757b9f, #ababce, #e2deff);
        color: white;
        margin-top: 100px;
    }
</style>

<div class="main-div col-md-offset-3 col-md-6">

    <h2>@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@
    <br />

    <address>
        Eleven Fifty Academy<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone"></abbr>
        (916)370-6940
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:akembrar7795@gmail.com">akembrar7795@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>
