@{
    ViewBag.Title = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

<style>

    .main-div h1 {
        font-size: 150px;
        color: black;
        font-family: 'Indie Flower', cursive;
    }

    .main-div {
        background-image: linear-gradient(to right top, #092648, #424e72, #757b9f, #ababce, #e2deff);
        opacity: 0.9;
        border-radius: 10px;
        margin-top: 100px;
    }
    .main-div h1{
        color: white;
    }
    .login-link a {
        color: white;
        font-size: 50px;
    }
    .or {
        color: white;
        font-size: 25px;
    }
    
</style>

<body>
    <div class="main-div">
        <br /><br />
        <h1 class="text-center">
            WELCOME
        </h1>
        <div class="text-center login-link">
            <span>@Html.ActionLink("Login", "Login", "Account")</span>
        </div>
        <div class="text-center or">
            OR
        </div>
        <div class="text-center login-link">
            @Html.ActionLink("Create a new Account", "Register", "Account")
        </div>
       
        <br />
        <br />
        <div class="text-center">
            <img src="https://www.dish.com/programming/on-demand/images/shows.png" alt="Alternate Text" width="400px" height="400px" />
        </div>

    </div>
</body>



