@{
    ViewBag.Title = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

<style>

    .main-div h1 {
        font-size: 150px;
        color: black;
        font-family: 'Indie Flower', cursive;
    }

    .main-div {
        height: 400px;
        width: 100%;
        background-color: white;
        opacity: 0.7;
        border-radius: 10px;
        margin-top: 100px;
    }
</style>

<body>
    <div class="main-div">
        <br /><br />
        <h1 class="text-center">
            WELCOME
        </h1>

    </div>
</body>



